PRODUCTS_API_URL=https://script.google.com/macros/s/YOUR_DEPLOYMENT_ID/exec
NEXT_PUBLIC_MESSENGER_URL=https://m.me/YOUR_FACEBOOK_PAGE_USERNAME
NEXT_PUBLIC_FACEBOOK_URL=https://www.facebook.com/YOUR_FACEBOOK_PAGE
